header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: black;
}

.logo {
    text-decoration: none;
    font-size: 29px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.favoritos {
    text-decoration: none;
    background-color: white;
    padding: 4px 13px;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}